.bedroom{
  background-image: url('../../img/bedroom.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 400px;
  width: 750px;
  display: block
}

p{
  width: 750px;
  margin: 0 auto;
  text-align: center
}

.link, .visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 150px;
  margin-top: 20px;
  margin: 0 auto
}

.hover, .active {
  margin-top: 20px;
  background-color: green;
  color: white;
}